
 

<mat-drawer-container hasBackdrop="false" style="position: static;" autosize="true">
  <mat-drawer #drawer mode="push">
    <mat-list>
      <mat-list-item *ngFor="let route of routes">
        <a (click)="drawer.toggle()" (click)="setTitle(route.data.title)" [routerLink]="route.path" mat-raised-button [innerText]="route.data.title"></a>
      </mat-list-item>
    </mat-list>
    
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        
        <span><img src="../../../favicon.ico">  </span>
        <h1 style="margin-left: 1em;" [innerText]="getTitle().getTitle()"></h1>
      </mat-toolbar-row>
    </mat-toolbar> 
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>