<mat-card>
    <mat-card-title style="text-align: center;" [innerText]="date.toLocaleString()"></mat-card-title>    
    <mat-slide-toggle #slideToggle><mat-icon><fa-icon [icon]="faClock"></fa-icon></mat-icon></mat-slide-toggle>
    <div *ngIf="slideToggle.checked">
        <mat-card-content *ngFor="let time of times">
            <mat-progress-spinner color="accent" [value]="time.value * 100 / 60"></mat-progress-spinner>
            <h1 [innerText]="time.value"></h1>
        </mat-card-content>

    </div>
</mat-card>