<mat-card>
    <mat-card-title>Furtrack</mat-card-title>
    <button [disabled]="show" mat-raised-button (click)="getImage()" color="accent">Generate</button>
    <mat-card-content *ngIf="show">
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
    <mat-card-content *ngIf="imgSrc">
        <a target="_blank" [href]="href" color="accent"><img [src]="imgSrc" (load)="show = false"  alt="" srcset=""></a>
    </mat-card-content>
    
</mat-card>